<!DOCTYPE html>
<html lang="en">
<%- include('./components/header') %>

    <body class="mx-[10%] border-2 h-screen">
        <a href="/" class="flex gap-[20px] items-center top-0 px-[40px] py-[20px]">
            <i class="w-[32px] h-auto" data-feather="arrow-left"></i>
            <span class="text-lg font-bold">Kembali</span>
        </a>
        <div class="flex flex-col p-[60px]">
            <p class="text-center py-[30px] text-2xl font-bold">Edit Penggalangan Dana</p>
            <form method="post" action="/post/edit/<%=data.id%>"
                class="flex justify-center px-[25%] flex-col gap-[30px]">
                <input class="w-full rounded-xl py-[15px]" type="text" name="imageURL" value="<%=data.imageURL%>">
                <input class="w-full rounded-xl py-[15px]" type="text" name="title" value="<%=data.title%>">
                <input class="w-full rounded-xl py-[15px]" type="number" name="donation" value="<%=data.donation%>">
                <input class="w-full rounded-xl py-[15px]" type="text" name="description" value="<%=data.description%>">
                <input class="cursor-pointer border-2 px-[60px] py-[15px] rounded-xl" type="submit"
                    value="Simpan Perubahan">
            </form>
        </div>

        <script>
            feather.replace()
        </script>
    </body>

</html>