<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
          }
        }
      }
    }
  </script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body class="mx-[340px] border-2">
  <header class="py-[20px] px-[40px] flex justify-between">
    <span class="font-bold text-[20px]">Kita = Sama.</span>
    <ul class="flex gap-[20px]">
      <li>List Donasi</li>
      <li>Kategori</li>
    </ul>
    <div class="flex gap-[20px]">
      <span>Register</span>
      <span>Masuk</span>
      <span class="text-black"><i data-feather="user"></i></span>
    </div>
  </header>

  <% console.log(data) %>
    <main class="grid grid-cols-2 p-[60px] gap-[60px]">
      <% data.forEach(el=> { %>
        <div class="flex border-2 rounded-xl overflow-hidden">
          <div class="w-1/2 h-auto overflow-hidden border">
            <img class="h-full w-full object-cover" src="<%= el.imageURL %> " alt="">
          </div>
          <div class="p-[20px] flex flex-col gap-[20px] w-1/2">
            <span class="font-[700] text-md">
              <%= el.title %>
            </span>
            <span class="text-sm">
              <% if(el.description.length> 70) { %>
                <%= el.description.slice(0,70).concat(' ...') %>
                  <% } else { %>
                    <%= el.description%>
                      <% } %>
            </span>
            <div class="flex flex-col gap-[20px]">
              <span class="font-medium">
                <%= el.User.name %>
              </span>
              <div class="flex justify-between">
                <div class="flex flex-col">
                  <span>Dibutuhkan</span>
                  <span class="font-bold text-xl">
                    <span>Rp <%= el.donation %></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="inline-flex rounded-lg px-[20px] py-[10px] border-2">See Detail</div>
            </div>
          </div>
        </div>
        <% }) %>
    </main>

    <script>
      feather.replace()
    </script>
</body>

</html>